.bluebox{
    width: 200px;
    height: 200px;
    background-color: blue;
  
}
.redbox{
    width: 100px;
    height: 100px;
    background-color: red;
    position: sticky;
    left: 50px;
    bottom: 50px;
    top: opx;

}
#p1{
    background-color: aqua;
}
#p2{
    background-color: red;
}
#p3{
    background-color: cadetblue;
}
@media(min-width:500px){
    .container p{
        width: 29%;
        float: left;
        padding: 15px;
        margin: 10px;
    }
}
@media print{
    body{
        background-color: yellow;
    }
}