li{
    /* display: inline;  
    padding: 20px; */
    list-style-type: circle;
    list-style-position: outside;
}
a{
    display: block;
    text-align: center;

}
#update{
    display: none;
    visibility: hidden;
}
h1{
    border: 1px solid red;
    border-radius: 30px;
    margin: auto;

}