p{
    color: red;
    font-size: 30px;
    font-family: 'PT Sans ';
    text-transform: capitalize;
    
    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-align: left;
    text-indent: 100px;
    text-shadow: 2px 2px 2px red;
}
h4{
    text-align: center;
}
p::first-letter{
    font-size: 40px;
}