/* #p1{
    background-color: red;
    flex: 3;
}
#p2{
    background-color: aqua;
}
#p3{
    background-color: blue;
    flex: 1;
}
@media(min-width:500px){
  .c1 p{
    width: 29%;
    padding: 10px;
    margin: 10px;

  }
}
.c1{
    display: flex;
} */
.container_2{
    background-color: aqua;
    display: flex;
    height: 500px;
 /* flex-direction: column;   */
 /* justify-content: center; */
 justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* align-items: flex-end; */
}
.box{
    background-color: brown;
    width: 160px;
    height: 160px;
    border: 2px solid white;
   flex-grow: 1;
   j
}