/* body{
    background-color: aqua;
}
.para{
    background-color: rgb(206, 159, 159) ;
    padding: 10px;
    text-align: center;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
}
.para1
{

} */
.layout div{
    border: 1px solid black;
    background-color:  burlywood;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}