/* .box{
    width: 150px;
    height: 150px;
    background-color: rgb(81, 204, 204);
    margin:  auto;
    transition-duration: 1s;
    transition-delay: 2s;
     transition-property: width; 
     transition: 3s 2s ease-out;  
     transition-timing-function: ease-in-out; 

}
.box:hover{
    background-color: red;
      width: 600px; 
     height: 500px;  
     transform: rotate(360deg);      transform: scale(2); 
     transform: translatey(50px); 
     transform: translateX(50px); 

} */
.box{
    width: 150px;
    height: 150px;
    background-color: blue;
    animation-name: box;
    animation-duration: 2s;
    border-radius: 50%;
    position: relative;
    top: 20px;

}
@keyframes box{
    100%{
        background-color: brown;
        
    }
}